<h2> Lates Posts: </h2>
<br />
<% @results.each do |post| %>
<p>
<%= post['content'] %>
<br />
Added at <%= post['created_date'] %>
<br />
<a href="/post/<%= post['id'] %>" >Comments</a>
<br />
</p>
<hr />
<% end %>